<h1>Home#index</h1>

<div class="row">
  <div class="col col-12 col-sm-6 text-primary fs-3">
    Find me in app/views/home/index.html.erb
  </div>

  <div class="col col-12 col-sm-6 text-success">
    Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
  </div>

</div>

<div class="row">
  <div class="col text-secondary">
    As an alternative theory, (and because Latin scholars do this sort of thing) someone tracked down a 1914 Latin edition of De Finibus which challenges McClintock's 15th century claims and suggests that the dawn of lorem ipsum was as recent as the 20th century. The 1914 Loeb Classical Library Edition ran out of room on page 34 for the Latin phrase “dolorem ipsum” (sorrow in itself). Thus, the truncated phrase leaves one page dangling with “do-”, while another begins with the now ubiquitous “lorem ipsum”.
  </div>
  
</div>

